/* HERO */

.hero{
margin:15px;
padding:50px 20px;
border-radius:20px;
text-align:center;

background:linear-gradient(
135deg,
#f5c542,
#ff9800
);

color:#000;
}

.hero h1{
font-size:32px;
font-weight:800;
margin-bottom:10px;
}

.hero p{
font-size:15px;
margin-bottom:20px;
}

.hero-btn{
display:inline-block;
padding:12px 24px;
background:#000;
color:#fff;
text-decoration:none;
border-radius:12px;
font-weight:700;
}

/* PRODUCT */

.product{
background:#181818;
border:1px solid #242424;
border-radius:16px;
overflow:hidden;
transition:0.3s;
cursor:pointer;
}

.product:hover{
transform:translateY(-5px);
border-color:#f5c542;
}

.product img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
display:block;
}

.product h3{
padding:10px 10px 5px;
font-size:14px;
}

.product p{
padding:0 10px 12px;
font-size:15px;
}

/* FOOTER */

.footer{
margin-top:40px;
padding:30px 20px;
text-align:center;
background:#151515;
border-top:1px solid #222;
}

.footer h3{
color:#f5c542;
margin-bottom:10px;
}

.footer p{
opacity:.8;
}

.socials{
margin:20px 0;
display:flex;
justify-content:center;
gap:20px;
}

.socials a{
color:#f5c542;
font-size:24px;
text-decoration:none;
}

.copyright{
font-size:13px;
opacity:.6;
}

/* SCROLLBAR */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#f5c542;
border-radius:20px;
}
.buy-btn{
width:calc(100% - 20px);
margin:0 10px 12px;
padding:10px;
border:none;
border-radius:10px;
background:#f5c542;
color:#000;
font-weight:bold;
cursor:pointer;
}

.buy-btn:hover{
opacity:.9;
}
